<div class="card">
    <a [routerLink]="['/movie', movies.id ]"> 
        <div class="card-image">
            <img [src]='image+movies.poster_path' onerror="this.src='assets/no-image-available.png'" alt="movies.name"/> 
        </div>                
        <div class="content">
            <h2 class="title is-4"> {{movies.name === null ? movies.title : movies.name}} </h2>
            <p> Rating: {{movies.vote_average}} </p>
            <p> On Air: {{ movies.first_air_date }} </p>
        </div>
    </a>
</div>